@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import 'swiper/swiper-bundle.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'pp-mori';
  src: url(/fonts/PPMori-Regular.otf) format('regular');
}

@layer base {
    html {
        font-family: 'pp mori','Rubik', sans-serif;
       
    }
}

.responsive {
    width: 100%;
    height: auto;
  }

.shadow-inner { 
    box-shadow: inset 0 0 10px #F08080;; 
}

@layer components {
    .headerbtn{
        @apply flex ml-10 text-end cursor-pointer text-primary font-extralight tracking-wider
    }
}

.bg-gradient {
  background: linear-gradient(300deg, #F9A7B0, #e6d0d3, #f1edee, #efdbe0, #FEC6CD);
  background-size: 180% 180%;
  animation: gradient-animation 10s ease infinite;
}

.bg-gradient-neutral {
  background: radial-gradient(circle, rgba(36,36,36,1) 0%, rgba(0,0,0,1) 30%, rgba(31,31,31,1) 76%, rgba(46,46,46,1) 97%, rgba(55,53,53,1) 100%);
  background-size: 180% 180%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 0px transparent inset;
  box-shadow: 0 0 0px 0px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #F25477 !important;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: transparent !important;
}
::-webkit-scrollbar-corner {
  background-color: transparent !important;
}

.button:hover {
  transition: 0.3s ease-in-out;
  background-color: #333333;
  color: #EFEEEE;
}

.hover-underline {
  display: inline-block;
  position: relative;
}

.hover-underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: 
#333333;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (min-width: 319px) and (max-width: 480px) {
  .margin {
    margin: 0px 12px 0px 12px;
  }
  .header {
    height: 150px;
  }
  .navLinks {
    display: flex;
    flex-direction: column;
    margin-right: -20px;
  }
}

@media (min-width: 481px) and (max-width: 1200px) {
  .margin {
    margin: 0px 24px 0px 24px;
  }
  .header {
    height: 150px;
  }
  .navLinks {
    display: flex;
    flex-direction: column;
    margin-right: -20px;
  }

}

@media (min-width: 1201px) and (max-width: 1600px) {
  .margin {
    margin: 0px 48px 0px 48px;
  }
}

@media (min-width: 1601px) {
  .margin {
    margin: 0px 48px 0px 48px;
  }
}
