@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        /* font-family: 'Nunito', sans-serif; */
        /* font-family: 'DotGothic16', sans-serif; */
        font-family: 'Poppins', sans-serif;
    }
}

.responsive {
    width: 100%;
    height: auto;
  }

.shadow-inner { 
    box-shadow: inset 0 0 10px #F08080;; 
}

@layer components {
    .headerbtn{
        @apply flex px-4 cursor-pointer text-accent hover:text-paper font-medium tracking-wider hover:duration-500
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 0px transparent inset;
  box-shadow: 0 0 0px 0px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

.bg-linear{
  background: linear-gradient(180deg, #F1CCBF 0%, #D2A0A1 34.17%, #B17982 72.71%, #A76D79 100%);
}


.card-container {
  height: 350px;
  margin: 0;
  padding: 0;
  top: 20px;
  width: 400px;
  position: relative;
  transform-style: preserve-3d;
  box-sizing: border-box;
}

.card-container.flipped .front {
  transform: rotateY(180deg);
}

.card-container.flipped .back {
  transform: rotateY(0deg);
}

.card-container .front,
.card-container .back {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: block;
  background-color: #F1CCBF;
  backdrop-filter: blur(5px);
  padding: 10px;
  position: absolute;
  border-radius: 10px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: -webkit-transform ease 500ms;
  transition: transform ease 500ms;
}

.card-container .front {
  z-index: 2;
  transform: rotateY(0deg);
  /* front tile styles go here! */
}

.card-container .back {
  transform: rotateY(-180deg);
  padding: 20px;
  font-size: 16px;
  color: #333333;
  /* back tile styles go here! */
}

.card-container .image-container {
  position: relative;
}

.card-container .image-container .card-image {
  width: 100%;
  border-radius: 10px;
}

.card-container .image-container .title {
  position: absolute;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 16px;
  bottom: 0;
  left: 0;
  color: #333333;
}

.card-container .main-area {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.card-container .main-area .blog-post {
  height: 100%;
}


.card-container .main-area .blog-post .read-more {
  position: relative;
  bottom: 0px;
  text-align: right;
}

.card-container .main-area .blog-post .blog-content {
  height: 90%;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}

@media screen and (max-width: 600px) {
  .card-container {
    height: 250px;
    margin: 0;
    padding: 0;
    top: 20px;
    width: 300px;
    position: relative;
    transform-style: preserve-3d;
    box-sizing: border-box;
    font-size: 12px;
  }

  .card-container .back {
    font-size: 12px;
  }

  .card-container .main-area .blog-post .read-more {
    margin-top: 4px;
  }
}